<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="gameField" class="game2048.core.GameFieldImpl" scope="session">
        <constructor-arg ref="randomEmptyCellSelector" />
        <constructor-arg ref="cellFiller" />
        <aop:scoped-proxy/>
    </bean>

    <bean id="randomEmptyCellSelector" class="game2048.core.RandomEmptyCellSelector" />
    <bean id="cellFiller" class="game2048.core.CellFiller" />

</beans>
